<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zjp.medicine.online.datav.mapper.THospitalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="TStudentResultMap" type="top.zjp.medicine.online.datav.model.entity.THospital">
        <id column="pk_id" property="pkId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="parentCode" property="parentCode" />
    </resultMap>

</mapper>
