<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zjp.medicine.online.datav.mapper.TQuizItemExamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="TQuizItemExamResultMap" type="top.zjp.medicine.online.datav.model.entity.TQuizItemExam">
        <id column="pk_id" property="pkId" />
        <result column="title" property="title" />
        <result column="end_time" property="endTime" />
        <result column="is_start" property="isStart" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

</mapper>
